@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

hr {
    background-color: #9EADB2;
    height: 2px;
    border: none;
}

span {
    color: #BD8C88;
}

.background-img {
    background-image: url(../Photos/photo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.transitions {
    animation: transitionIn 0.75s;
}

.animationText-v1 {
    color: white;
    font-size: 4rem;
    top: 30%;
    width: auto;
    font-weight: 100;
}

.animationText-v2 {
    color: white;
    font-weight: 100;
    border-bottom: 2px solid #e4e4e4;
}

img {
    height: 325px;
    width: 550px;
}

.btn-outline-secondary {
    border-color: #9EADB2;
}

.btn-outline-secondary:hover {
    background-color: #9EADB2;
    border-color: transparent;
    transition: .5s;
}

.footer-img {
    background-image: url(../Photos/photo2.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.d-inline > a{
    text-decoration: none;
    color:white;
}

#copy-right{
    font-size:12px;
}

#email {
    font-size: 12px;
}

#email:hover {
    cursor: pointer;
    text-decoration: underline;
}

#email:hover::before {
    content: "Copy: ";
}

#email:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    transform: translateX(-80%);
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#email[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

.hidden{
    opacity: 0;
    filter:blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
    position: relative;

}

.show{
    position: relative;
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.nav-link{
    font-size:15px;
}

.transition{
    animation: transitionIn 1s;
 }
 
 @keyframes transitionIn {
     from{
         opacity: 0;
         transoform: translateX(-100%)
     }
     to{
         transform: translate(0);
         opacity: 1;
     }
 }